DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/mydb?schema=public"

# Email provider driver: "ses" or "fake"
EMAIL_PROVIDER_DRIVER=fake

# Required when EMAIL_PROVIDER_DRIVER=ses
AWS_REGION=us-east-2
AWS_SES_FROM_ADDRESS=noreply@yourdomain.com
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_SES_CONFIGURATION_SET=my-first-configuration-set

# Integration testing
RUN_SES_INTEGRATION_TESTS=false
AWS_SES_TEST_RECIPIENT=test@example.com
